# Ignore Gradle build directory
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar  # Keep Gradle wrapper

# Ignore Eclipse/IntelliJ IDE files
.classpath
.project
.settings/

# Ignore compiled Java files
/bin/
**/*.class

# Ignore logs and temp files
*.log
*.tmp
*.swp
*.swo

# Ignore OS-specific files (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# Ignore test reports and coverage
/test-results/
out/
coverage/

# Ignore generated diagrams
# /resources/diagram/*.svg

# Ignore Gradle properties (if containing sensitive data)
gradle.properties

*.txt
*.db
